.swiper {
    width: 80%;
    height: 350px;
    background: white;
  }
  
  .swiper-slide {
    font-size: 18px;
    color: black;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
  }
  
  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }
  
  .swiper-slide .title {
    font-weight: 300;
  }
  
  
  
  .swiper-slide .text {
    font-size: 14px;
    line-height: 1.3;
  }
  .swiper-button-prev::after {
    color: grey;
  }
  .swiper-button-next::after {
    color: grey;
  }